/* EVERYTHING */

@font-face {
  font-family: "Supreme";
  src: url(fonts/Futura\ Light.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Supreme", sans-serif;
}

.root {
  height: 6167px;
  width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(98, 98, 98);
  display: flex;
  position: relative;
  background-image: url("images/background\ img.png");
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}

/* BURGER STYLE */

.burger {
  height: 100%;
  max-height: 100vh;
  max-width: 80px;
  width: 100%;
  background-color: rgba(65, 65, 65, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 4;
}

.n-div {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(229, 229, 72, 1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.burger-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.page-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.first-page {
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding-left: clamp(20px, 3vw, 80px);
  padding-top: clamp(28px, 3vw, 50px);
  padding-right: clamp(20px, 3vw, 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.slash {
  color: rgba(102, 102, 102, 1);
}

.first-page-number {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.last-page-number {
  font-weight: 500;
  font-size: 20px;
  color: rgba(102, 102, 102, 1);
}

/* HAMBURGER */

#burger-menu {
  overflow: visible;
  position: relative;
  z-index: 3;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 120px;
  z-index: 3;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  &.overlay {
    visibility: visible;
    opacity: 1;
    padding-left: clamp(110px, 10vw, 150px);
    padding-right: 50px;
    padding-top: 50px;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
  }

  li {
    list-style: none;
  }
}

.headings-burger {
  display: flex;
  flex-direction: column;
  text-align: start;
  max-width: 660px;
  width: 100%;
  font-weight: 700;
  font-size: clamp(10px, 3vw, 30px);
  position: relative;
  gap: clamp(10px, 5vw, 45px);
}

.heading-burger {
  color: white;
  padding-left: clamp(0px, 5vw, 150px);
  cursor: pointer;
}

.heading-burger-yellow {
  color: white;
  padding-left: clamp(0px, 5vw, 150px);
}

.heading-burger-yellow:hover,
.heading-burger:hover {
  color: rgba(229, 229, 72, 1);
  transition: 0.2s;
}

.yellow-burger-heading-container:hover::before {
  display: block;
  opacity: 1;
}

.yellow-burger-heading-container {
  display: flex;
  max-width: 660px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.yellow-burger-heading-container::before {
  top: clamp(10px, 3vw, 35px);
  content: "";
  position: absolute;
  max-width: 1050px;
  min-width: 270px;
  width: 100%;
  height: 2px;
  background: #e8d03f;
  display: none;
  transition: opacity 0.3s ease;
}

.burger-middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
  gap: 50px;
}

.burger-right {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  white-space: nowrap;
}

.socials-h1 {
  font-size: clamp(20px, 2vw, 25px);
}

.burger-socials {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.locations-burger {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  font-size: clamp(13px, 2vw, 16px);
  gap: 5px;
}

.burger-locations-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.social {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.social:hover {
  color: #e5e548;
  transition: 0.5s;
}

.socials-container-burger {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.burger-bottom {
  display: flex;
}

.burger-tag {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  gap: 50px;
  color: rgba(102, 102, 102, 1);
  position: absolute;
  left: 140px;
  bottom: 30px;
}

.big-working,
.lipba {
  font-weight: 700;
  font-size: 224px;
  height: 200px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(102, 102, 102, 1);
  position: absolute;
  bottom: 0;
  right: 0;
  user-select: none;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}
.lipba {
  bottom: 6px;
}

/* HAMBURGER */

/* FIRST PAGE START  */

.heading-neuro {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 24px;
}

.heading-neuro-bottom {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: clamp(10px, 2.5vw, 24px);
  color: black;
  display: block;
}

.heading-neuro-bottom-second {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 24px;
  color: black;
}

.first-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.first-top-texts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 151px;
  align-items: center;
}

.location-time-theme {
  display: flex;
  max-width: 291px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  min-width: 95px;
}

.current-time {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  min-width: 68px;
}

.burger-btn-mobile {
  display: none;
  transform: rotate(90deg);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* LIGHTMODE DARKMODE BUTTON STYLE */

.theme-btn,
.theme-btn-overlay {
  width: 40px;
  height: 24px;
  border-radius: 56px;
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(217, 217, 217, 1);
  transition: all 0.3s ease;
}

/* SECOND FIRST PAGE */

.second-top {
  padding-top: 122px;
  position: relative;
}

.heading,
.heading-second,
.heading-third {
  font-weight: 700;
  font-size: clamp(35px, 5vw, 96px);
  white-space: nowrap;
}

.heading {
  white-space: normal;
  padding-right: 115px;
  word-wrap: break-word;
}

.heading-second {
  color: rgba(229, 229, 72, 1);
}

.heading-second,
.heading-third {
  padding-left: 9.3vw;
}

.heading-second-container::before {
  content: "";
  position: absolute;
  max-width: 1050px;
  min-width: 260px;
  width: 100%;
  height: 2px;
  background: #e8d03f;
  top: clamp(21px, 2.5vw, 50px);
}

.heading-second-container {
  position: relative;
}

/* THIRD FIRST PAGE */

.third-top {
  padding-left: 150px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  margin-top: 60px;
}

.page-one-text {
  font-weight: 300;
  font-size: 18px;
  display: flex;
  max-width: 280px;
  width: 100%;
}

.round {
  min-width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e548;
  border-radius: 100%;
  font-weight: 700;
  font-size: 12px;
  color: black;
}

.round-bottom {
  width: 108px;
  min-width: 107px;
  min-height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  font-weight: 700;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

video {
  max-width: 290px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  object-fit: contain;
}

.video-btn {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 95px;
  right: 205px;
}

.video-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 104px;
  right: 80px;
  z-index: 2;
}

#videoLength,
.reels {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}

.reels {
  padding-top: 5px;
  padding-right: 205px;
  min-width: 292px;
}

.arrows-container {
  display: flex;
  flex-direction: column;
  max-width: 24px;
  max-height: 24px;
  justify-content: center;
  align-items: center;
  animation: updown 2s ease-in-out infinite;
  cursor: pointer;
  position: absolute;
  align-self: center;
  bottom: 0px;
}

/* PAGE 2 START */

section {
  background-color: black;
  padding-top: 160px;
  padding-left: clamp(80px, 10vw, 150px);
  padding-right: clamp(80px, 2.5vw, 150px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 116px;
  height: 100%;
}

.section-header {
  color: transparent;
  -webkit-text-stroke: 1px rgba(102, 102, 102, 1);
  font-weight: 700;
  font-size: clamp(20px, 2.5vw, 88px);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section-yellow-heading {
  position: relative;
  text-align: center;
  color: rgba(229, 229, 72, 1);
  -webkit-text-stroke: 0px;
}

.section-yellow-heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e8d03f;
  top: clamp(21px, 2.5vw, 95px);
}

.read-more-btn,
.more-works-btn {
  color: white;
  border: 1px solid white;
  width: 109px;
  height: 48px;
  border-radius: 80px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.read-more-btn:hover,
.more-works-btn:hover {
  background-color: rgba(248, 250, 252, 1);
  color: rgba(0, 0, 0, 1);
  transition: 0.5s;
}

#moreWorks {
  display: none;
}

.latest-projects {
  -webkit-text-stroke: 1px rgba(102, 102, 102, 1);
  padding-top: 240px;
  font-size: 64px;
  font-weight: 700;
}

.latest-projects-yellow {
  position: relative;
  text-align: center;
  color: rgba(229, 229, 72, 1);
  display: flex;
  width: 490px;
  justify-content: flex-end;
  font-size: 64px;
  font-weight: 700;
}

.latest-projects-yellow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e8d03f;
  top: 35px;
}

.projects {
  padding-top: 121px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.latest-projects-heading {
  width: 500px;
}

.two-projects-container {
  display: flex;
  gap: 40px;
}

.project-heading {
  width: 500;
  font-size: 24px;
  letter-spacing: 4px;
  color: rgba(229, 229, 72, 1);
}

.about-project {
  font-weight: 300;
  font-size: 18px;
}

.project-image-container {
  width: 100%;
  height: 408px;
  background-color: rgba(98, 98, 98, 1);
  position: relative;
}

.project {
  max-width: 550px;
  width: 100%;
  transition: transform 1s;
}

.project-texts {
  padding-left: 40px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 470px;
  min-width: 269px;
  width: 100%;
}

.about-project {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 18px;
}

.project-pros {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1px;
}

.project-subject {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}

.bullet {
  color: rgba(229, 229, 72, 1);
}

.project-number {
  font-weight: 700;
  font-size: 168px;
  transform: rotate(-90deg);
  position: absolute;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
  color: transparent;
  bottom: 30px;
  left: 10px;
  z-index: 2;
}

.project:hover {
  .project-hovers {
    display: flex;
  }
}

.project-hovers {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
  flex-direction: row;
  width: 100%;
}

.project:hover {
  transform: translateY(-40px);
  box-shadow: 8px 8px 15px #eaff0071;
}

.yellow-bar {
  width: 100%;
  height: 128px;
  background-color: rgba(229, 229, 72, 1);
}

.small-yellow-bar {
  width: 30%;
  height: 128px;
  background-color: rgba(229, 229, 72, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.black-round {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.more-works-bullets {
  display: flex;
  justify-content: space-between;
}

.bullets-container {
  width: 40px;
  justify-content: space-between;
  display: flex;
}

.bullets-one,
.bullets-two,
.bullets-three {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid rgba(229, 229, 72, 1);
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
}

/* LAST PAGE  */

footer {
  height: 790px;
  background-color: #e5e548;
  padding-left: clamp(10px, 2vw, 80px);
  padding-right: clamp(20px, 3vw, 80px);
  padding-top: clamp(20px, 3vw, 80px);
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.bottom-first {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  align-items: center;
  height: 285px;
  gap: 30px;
}

.bottom-heading {
  font-size: clamp(35px, 6vw, 88px);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
  letter-spacing: 2px;
}

.business {
  color: #000;
  -webkit-text-stroke: 0;
  position: relative;
  margin-left: 30px;
}

.business::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 530px;
  width: 100%;
  top: 50%;
  height: 2px;
  background: black;
}

.bottom-second {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.infos-bottom {
  display: flex;
  width: 887px;
  justify-content: flex-end;
  gap: clamp(20px, 5vw, 128px);
}

.mail-phone {
  line-height: 160%;
}

.heading-end {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

.actions-bottom {
  font-weight: 700;
  font-size: 14px;
  line-height: 240%;
  letter-spacing: 4%;
}

.socials-actions {
  display: flex;
  justify-content: space-between;
  max-width: 268px;
  width: 100%;
  gap: 18px;
}

.bottom-infos-two {
  display: flex;
  justify-content: space-between;
  max-width: 475px;
  width: 100%;
  gap: 24px;
}

.socials-bottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 240%;
  gap: clamp(0px, 5vw, 128px);
}

.bottom-third {
  gap: 60px;
  display: flex;
  white-space: nowrap;
}

.bottom-textss {
  font-weight: 400;
  font-size: 14px;
}

.inside-infos-two,
.other-inside-infos {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.location-info-bottom {
  white-space: nowrap;
  line-height: 160%;
}

.heading-neuro-bottom-second {
  display: none;
}

.call-us {
  text-decoration: none;
  color: black;
}

/* SCROLLBAR STYLE */

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

@media (max-width: 750px) {
  .big-working,
  .lipba {
    display: none;
  }
  .heading-neuro-bottom {
    display: none;
  }
  .infos-bottom {
    justify-content: flex-start;
  }
  .socials-actions {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  header {
    height: 408px;
  }
  .second-top {
    padding-top: 322px;
  }
  .location,
  .current-time {
    display: none;
  }
  .heading-second,
  .heading-third {
    padding-left: 0;
  }

  .location-time-theme {
    max-width: 104px;
    gap: 20px;
  }
  .burger-btn-mobile {
    display: block;
  }
  .burger {
    display: none;
  }
  .third-top {
    flex-direction: column;
    padding-left: 0px;
    padding-top: 17px;
    align-items: flex-start;
    gap: 62px;
  }
  video {
    max-width: 284px;
    max-height: 284px;
  }
  .video-container {
    bottom: -600px;
    position: absolute;
    right: 0px;
  }
  .video-btn {
    width: 50px;
    height: 50px;
    top: 90px;
    left: 20px;
  }
  #videoLength {
    position: absolute;
    bottom: -25px;
    right: 11px;
    z-index: 1;
  }
  .reels {
    position: absolute;
    z-index: 1;
    bottom: -25px;
    left: 5px;
    min-width: 20px;
    padding-right: 0px;
  }
  .arrows-container {
    top: 710px;
    align-self: flex-end;
    bottom: auto;
  }
  .first-top {
    padding-right: 24px;
  }
  #menu {
    min-height: 100%;
    &.overlay {
      padding-left: 24px;
      padding-right: 0px;
    }
  }

  .heading-burger-yellow,
  .heading-burger {
    padding-left: 0px;
    font-size: 50px;
  }
  .burger-middle {
    flex-direction: column;
    gap: 95px;
    padding-right: 40px;
  }
  .burger-right {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
    justify-content: space-between;
    gap: 35px;
  }
  .socials-h1 {
    font-size: 18px;
  }
  .yellow-burger-heading-container::before {
    top: clamp(30px, 3vw, 35px);
  }
  .burger-tag {
    position: relative;
  }
  .first-page {
    padding-right: 0px;
  }
  .heading-second-container::before {
    width: 95%;
  }
  #toBottom {
    margin-right: 10px;
  }
  .burger-tag {
    display: none;
  }
  footer {
    height: 1230px;
    padding-top: 88px;
    padding-left: 18px;
    position: relative;
  }
  .bottom-first {
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
  }
  .business {
    margin-left: 10px;
  }
  .bottom-second {
    flex-direction: column;
  }
  .infos-bottom {
    flex-direction: column-reverse;
    gap: 30px;
    width: 100%;
  }
  .socials-actions {
    display: flex;
    gap: 40px;
    max-width: 190px;
  }
  .bottom-infos-two {
    gap: 24px;
    display: flex;
    flex-direction: column;
  }
  .inside-infos-two {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .other-inside-infos {
    gap: 24px;
    display: flex;
    flex-direction: column;
  }
  .heading-neuro-bottom {
    display: none;
  }
  .heading-neuro-bottom-second {
    display: block;
  }
  .bottom-heading {
    font-size: 40px;
  }
  .bottom-third {
    gap: clamp(13px, 5vw, 60px);
    position: absolute;
    bottom: 60px;
  }
  section {
    padding-top: 690px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: visible;
    height: 100%;
  }
  .latest-projects-yellow {
    font-size: 36px;
    width: 290px;
  }
  .latest-projects-yellow::before {
    top: 19px;
  }
  .latest-projects {
    font-size: 36px;
    padding-top: 134px;
  }
  .latest-projects-heading {
    width: 310px;
    position: absolute;
    left: 20px;
  }
  .projects {
    gap: 24px;
    flex-direction: row;
    padding-top: 300px;
    overflow-x: auto;
    display: flex;
    position: absolute;
    right: 0px;
    max-width: calc(100vw - 48px);
    padding-bottom: 32px;
  }
  .project {
    max-width: 269px;
    flex-shrink: 0;
  }
  .two-projects-container {
    flex-shrink: 0;
    max-width: 562px;
    gap: 24px;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .projects::-webkit-scrollbar {
    height: 8px;
  }
  .projects::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .projects::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
  }
  .more-works-bullets {
    display: none;
  }
  #moreWorks {
    display: flex;
  }
  .yellow-bar,
  .small-yellow-bar {
    height: 90px;
  }
  .small-yellow-bar {
    width: 40%;
  }
  .black-round {
    width: 44px;
    height: 44px;
  }
}
